
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

/* Reset */

* {
    padding: 0;
    margin: 0;
}



/* Header */

header {
    background-color: #6d3cc3;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__logo {
    display:flex;
}


header h2 {
    color:#FFF1E0;
    font-family: 'Donegal One', serif;
    font-size: 30px;
    margin: 10px;
}


.nav-link {
    color:#FFF1E0;
    font-size: 18px;
}

.nav-link:hover {
    color: plum;
}

.button-white {
    background-color: #FFF1E0;
    color:#6d3cc3;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.button-white:hover {
    color: pink;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Main */

body {
    background-color: #6d3cc3;
    color: #fffeff;
    font-family: 'DM Sans', sans-serif;
}

p, h1, h2 {
    margin: 10px 20px;
}


/* Footer */

footer {
    background-color: #6d3cc3;
    position: relative;
    bottom: 0;
    border-top: 1px solid #9258f7;
}


footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    margin: 10px 10px;
    list-style: none;
}


/* Página: ¿Quiénes somos? */

.article-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.article__text {
    display:flex;
    flex-direction: column;
}


.section-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.section__img {
    display: flex;
    flex-direction: column;
}

.section__img p {
    padding: 10px;
}

.img-medium {
    margin: 10px 20px;
}

.title--center {
    text-align: center;
    margin: 40px;
    font-family: 'Donegal One', serif;
}




/* Página: Home */

.home__container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.titulo-home, .texto-home {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.titulo-home {
    font-family: 'Donegal One', serif;
}

.icon__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
    margin: 50px 50px;
}

.icon__item {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.carousel {
    z-index: 0;
}

/* Página: Contacto */

h1 {
    font-family: 'Donegal One', serif;
}

.datos-contacto {
    margin: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.datos-contacto fieldset {
    padding: 20px 20px;
    background-color: #442679;
    border: 1px solid;
    border-radius: 20px;
}

fieldset form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset form p {
    margin: 10px 0px;
}


.button-pink {
    background-color:#6d3cc3;
    color:#FFF1E0;
    padding: 10px 20px;
    margin: 0px 15px;
    border-radius: 20px;
    border-color: #FFF1E0;
    border-style: outset;
}
.button-pink:hover {
    color:#6d3cc3;
    background-color: #FFF1E0;
}

/* Página: Pedir un turno */

.titulo-central{
    display:flex;
    justify-content: space-evenly;
}

.titulo-texto {

    flex-direction: column;

}

.titulo--wapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFF1E0;
    
}

.ubicacion {
    margin: 50px; 
}

.ubicacion h3 {
    margin: 50px;
}

.page__bottom {
    background-color: #FFF1E0;
    color:#442679;
    text-align: center;
} 

/* Página: Tratamientos */

.tratamientos {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center; 
    margin: 50px;

}


.card {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFF1E0;
    color:#442679;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
}

.card__text h2 {
    margin: 10px 10px;
    font-size: 200%;
}

.card__text p{
    margin: 15px 10px;
    font-size: 100%;
}

/* Media queries */

/* -Tablet */

@media only screen and (min-width: 576px) and (max-width: 768px) {}

/* -Mobile */

@media only screen and (max-width: 576px) {

    .button-white{
        width: 30%;
    }

    /*quiénes somos*/

    .section-container{
        flex-direction: column;
    }

    .article__img {
        width: 25%;
    }

    .article__p {
        font-size: 12px;
    }

    .article__title {
        font-size: 20px;
    }

    /*tratamientos*/

    .card {
        flex-direction: column;
    }

    /*contacto*/
    .datos-contacto {
        flex-direction: column;
        align-items: center;
    }

    .datos-contacto img {
        width: 80%;
        margin: 10px 10px;
    }



    /*pedir un turno*/

    .titulo-central {
        flex-direction: column;
        align-items: center;
    }

    .titulo--wapp {
        width: 80%;
    }

    /*footer*/

    footer ul {
        justify-content: center;
    }


}