@import "mixins";

.datos-contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    fieldset {
        @include flex-column (center);
        padding: 20px 20px;
        background-color: #442679;
        border: 1px solid;
        border-radius: 20px;
        form {
            @include flex-column (stretch);
            justify-content: space-between;
            padding: 0 20px;
            label {
                padding: 10px 0;
            }
            input {
                margin: 10px 0;
            }
            p {
                margin: 10px 0px;
            }
            .btn-formulario {
                display: flex;
                justify-content: space-evenly;
                .button-pink {
                    background-color: $violetaMM;
                    color: $blancoMM;
                    padding: 10px 20px;
                    margin: 15px;
                    border-radius: 20px;
                    border-color: $blancoMM;
                    border-style: outset;
                    &:hover {
                        color: $violetaMM;
                        background-color: $blancoMM;
                    }

            }

            }
            
        }
        
    }
}
