

.home__container {
   @include flex-column (center);
    .carousel {
        z-index: 0;
    }
    .texto-home {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .titulo-home {
        @extend .texto-home;  //aplico extend
        font-family: 'Donegal One', serif;
    }
}



.icon__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
    margin: 50px 50px;
    .icon__item {
        @include flex-column (center);
        text-align: center;
    }
}



