@import "mixins";

.article-container {
    display: flex;
    align-items: center;
    padding: 20px;
    .article__text {
        display:flex;
        flex-direction: column;
    }
}




.section-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    .section__img {
        @include flex-column (center);
        p {
            padding: 10px;
        }
        .img-medium {
            margin: 10px 20px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.07);
            }
        }

    }
}



.title--center {
    text-align: center;
    margin: 40px;
    font-family: 'Donegal One', serif;
}