@import "mixins";

.container  {
    padding: 0;
    margin: 0;
    width: 100%;
    .row {
        margin: 0;
    }
    .titulo-central{
        display:flex;
        justify-content: space-evenly;
        .titulo-texto {

            flex-direction: column;
        
        }
    }
    .titulo--wapp {
        @include flex-column (center);
        justify-content: center;
        border: 3px solid $blancoMM;
        
    }

    .titulo-turnos {
        margin: 30px;
        padding-right: 0;
    }

    aside {
        @include flex-column (center);
        iframe {
            margin: 20px;
        }
    }
    
}


.page__bottom {
    background-color: $blancoMM;
    color:$violetaMM;
    text-align: center;
} 



