
@import "mixins";

.tratamientos {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center; 
    margin: 50px;
    padding-left: 0;
    .card {
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $blancoMM;
        color: $violetaMM;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        transition: 0.5s ease all;
        &:hover {
            transform: scale(1.07);
        }
        .card__text {
            @include flex-column (flex-start);
            padding: 20px 20px;
            h2 {
                margin: 10px 10px;
                font-size: 200%;
            }
            p{
                margin: 15px 10px;
                font-size: 100%;
            }
        }
    }

}

