
@import "vars";
@import "mixins";
@import "index";
@import "nosotros";
@import "contacto";
@import "pedirturno";
@import "tratamientos";


/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

//Reset

* {
    padding: 0;
    margin: 0;
}


header {
    background-color: $violetaMM;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar-collapse {
        justify-content: flex-end;
        .nav-link {
            color: $blancoMM;
            font-size: 18px;
            &:hover {
                color: plum;
            }
        }
        .button-white {
            background-color: $blancoMM;
            color: $violetaMM;
            padding: 10px 20px;
            border-radius: 20px;
            &:hover {
                color: pink;
            }
            
        }
    } 

    .header__logo {
        display:flex;
        h2 {
            color: $blancoMM;
            font-family: 'Donegal One', serif;
            font-size: 30px;
            margin: 10px;
        }
    }


}


body {
    background: linear-gradient(120deg, rgba(109,60,195,1) 20%, rgba(108,31,196,1) 59%, rgba(148,5,172,1) 75%, rgba(196,0,255,1) 85%, rgba(196,0,255,1) 100%);
    color: $blancoMM;
    font-family: 'DM Sans', sans-serif;
    p, h2 {
        margin: 10px 20px;
    }
    h1 {
        font-family: 'Donegal One', serif;
        margin: 10px 20px;
    }
}



footer {
    background: linear-gradient(120deg, rgba(109,60,195,1) 25%, rgba(108,31,196,1) 40%, rgba(148,5,172,1) 50%, rgba(196,0,255,1) 75%, rgba(196,0,255,1) 100%);
    position: relative;
    bottom: 0;
    ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        li {
            margin: 10px 10px;
            list-style: none;
        }
    }
}



/* Media queries */

/* -Tablet */

@media only screen and (min-width: 576px) and (max-width: 768px) {}

/* -Mobile */

@media only screen and (max-width: 576px) {

    .button-white{
        width: 30%;
    }

    /*quiénes somos*/

    .section-container{
        flex-direction: column;
    }

    .article__img {
        width: 25%;
    }

    .article__p {
        font-size: 12px;
    }

    .article__title {
        font-size: 20px;
    }

    /*tratamientos*/

    .tratamientos .card {
        flex-direction: column;
    }

    /*contacto*/
    
    .datos-contacto {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .datos-contacto fieldset {
        width: 90%;
    }

    .datos-contacto fieldset form {
        width: 90%;
    }

    .datos-contacto img {
        width: 80%;
        margin: 10px 10px;
    }



    /*pedir un turno*/

    .container .titulo-central {
        flex-direction: column;
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .container .titulo-central .titulo-texto {
        padding-right: 0;
        padding-left: 0;
    }

    .container .ubicacion {
        width: 90%;
        margin: 20px;
    }


    .container aside {
        padding: 0;
    }

    .container aside iframe {
        width: 90%;
    }

    .container .titulo--wapp {
        width: 80%;
    }

    .container .titulo--wapp a {
        padding: 20px;
    }

    .container .titulo-turnos {
        width: 80%;
    }

    /*footer*/

    footer ul {
        justify-content: center;
    }


}